body {
    background-image: url("assets/header-img-1.jpeg");
    background-size: 100%;
    font-family: Helvetica;
    font-weight: 300;
    color: white;
}

h1 {
    font-weight: 300;
    font-size: 64px;
    padding: 24px 48px;
    margin: 0;
}

h3 {
    padding: 12px 32px;
    margin: 8px;
    font-weight: 300;
}

.header-text {
    /*background-color: rgba(255, 255, 255, 0.21);*/
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: fit-content;
    margin: 8px
}

header {
    margin: 16px auto;
    width: 1024px;
    height: 480px;
}

nav {
    margin: 16px auto;
    width: 1280px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link {
    padding: 12px 24px;
    margin: 8px;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

section {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 16px auto;
    width: 1024px;
    height: 480px;
}

h2 {
    font-weight: 300;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 12px 24px;
    margin: 12px auto;
}

p {
    width: 360px;
}

.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me-content {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 12px 24px;
}